*egg-info*
.mypy_cache
*mlruns/*
*/mlruns/*
dist/*
build/*
*.cache/*
*__pycache__*
.idea
nohup.out
*.rdb
.DS_Store
**.ipynb
notebooks/*
**.DS_STORE*
*.pyc
*.swp
requirements.txt
=
exported_*.txt
website/themes/ananke/
my_model_directory/
t5_llm_models/*
python_search/llm_next_item_predictor/t5/t5_llm_models/*
