[tool.poetry]
name = "python-search"
version = "0.9.1"
description = "Build your knowledge database in python and retrieve it efficiently"
authors = ["Jean Carlo Machado <machado.c.jean@gmail.com>"]

[tool.poetry.dependencies]
python = ">=3.8,<3.11"
fire = "^0.4.0"
pydantic = "^1.9.1"
PyYAML = "^6.0"
PySimpleGUI = "^4.60.1"
colorama = "^0.4.5"
certifi = "^2022.6.15"
dill = "^0.3.5.1"
msgpack-numpy = { version = "^0.4.8", optional = true }
fastapi = { version = "^0.79.0", optional = true }
kafka-python = { version = "^2.0.2", optional = true }
scipy = { version = ">=1.8.1", optional = true }
xgboost = { version = "^1.6.1", optional = true }
matplotlib = { version = "^3.5.2", optional = true }
pandas = { version = "^1.4.3", optional = true }
redis = { version = "^4.3.4", optional = true }
uvicorn = { version = "^0.18.2", optional = true }
numpy = { version = "1.23.*", optional = true }
pyspark = { version = ">=3.0", optional = true }
mlflow = { version = ">=1.29", optional = true }
pdoc3 = {version = "^0.10.0", optional = true}
sentence-transformers = {version = "^2.2.2", optional = true}
keras = {version = ">=2.10", optional = true}
tensorflow = {version = ">=2.10.0", optional = true}
python-dateutil = "^2.8.2"

[tool.poetry.dev-dependencies]
pytest = "^7.1.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
python_search = 'python_search.cli:main'
next_item_pipeline = 'python_search.search.next_item_predictor.pipeline:main'
collect_input = 'python_search.apps.collect_input:main'
clipboard = 'python_search.apps.clipboard:main'
notify_send = 'python_search.apps.notification_ui:main'
python_search_infra = 'python_search.infrastructure.infrastructure:main'
browser = 'python_search.apps.browser:main'
python_search_webapi = 'python_search.web_api:main'
run_entry = 'python_search.cli:_run_key_bin'
reminders = 'python_search.plugins.reminders:main'
feature_toggle = 'python_search.feature_toggle:FeatureToggle.main'
generic_data_collector = 'python_search.data_collector:GenericDataCollector.initialize'

[tool.poetry.extras]
server = [
    "pyspark",
    "mlflow",
    "sentence-transformers",
    "keras",
    "tensorflow",
    "uvicorn",
    "fastapi",
    "kafka-python",
    "redis",
    "pandas",
    "numpy",
    "scipy",
    "xgboost",
    "matplotlib",
    "msgpack-numpy",
]