[tool.poetry]
name = "python-search"
version = "0.5.3"
description = "Build your knowledge database in python and retrieve it efficiently"
authors = ["Jean Carlo Machado <jean.machado@getyourguide.com>"]

[tool.poetry.dependencies]
python = ">=3.8,<4.0"
fire = "^0.4.0"
pydantic = "^1.9.1"
numpy = "1.23.*"
pandas = "^1.4.3"
pyspark = "^3.3.0"
personal-grimoire = "1.6"
kafka-python = "^2.0.2"
findspark = "^2.0.1"
redis = "^4.3.4"
typed-pyspark = "~=0.0.4"
xgboost = "^1.6.1"
PyYAML = "^6.0"
fastapi = "^0.79.0"
msgpack-numpy = "^0.4.8"
mlflow = "^1.27.0"
sklearn = "^0.0"
uvicorn = "^0.18.2"
PySimpleGUI = "^4.60.1"
sentence-transformers = "^2.2.2"
matplotlib = "^3.5.2"
pdoc3 = {version = "^0.10.0", optional = true}
colorama = "^0.4.5"


[tool.poetry.dev-dependencies]
pytest = "^7.1.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
python_search = 'python_search.cli:main'
next_item_pipeline = 'python_search.ranking.next_item_predictor.pipeline:main'
collect_input = 'python_search.apps.collect_input:main'
clipboard = 'python_search.apps.clipboard:main'
notify_send = 'python_search.apps.notification_ui:main'
python_search_infra = 'python_search.infrastructure.infrastructure:main'
browser = 'python_search.apps.browser:main'
python_search_webapi = 'python_search.web_api:main'
entry_embeddings='python_search.ranking.entry_embeddings:main'
run_entry = 'python_search.cli:_run_key_bin'
