fire
pydantic
numpy
pandas
pyspark
ddtrace
personal-grimoire==1.6
#dev onlny
flake8-functions
build
pytest
apipkg #needed by pytest
kafka-python
findspark
redis
sentence-transformers
pyyaml
msgpack-numpy
mlflow
typed-pyspark~=0.0.4
keras
tensorflow
