[Unit]
Description=Consumer of python search entries events

[Service]
User=jean
WorkingDirectory=/home/jean
ExecStart=search_run consumers latest_used_entries

Restart=always

[Install]
WantedBy=multi-user.target
