[Unit]
Description=Consumer of python search entries events

[Service]
User=jean
WorkingDirectory=/home/jean
ExecStart=/home/jean/.local/bin/spark-submit --packages org.apache.spark:spark-sql-kafka-0-10_2.12:3.0.1 /home/jean/projects/PythonSearch/search_run/events/consumer.py consume_search_run_performed
Restart=always

[Install]
WantedBy=multi-user.target
